h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__special;
}

.entry-title {
	color: $color-dark;
	font-size: 2.75rem;
	text-transform: uppercase;

	a {
		color: inherit;

		&:active,
		&:focus,
		&:hover {
			color: inherit;
		}
	}
}
