ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        margin: 0;
        padding: 0;

        > ul,
        > ol {
            margin-bottom: 0;
            margin-left: 1.5em;
        }
    }
}

ul {
    list-style: disc;
}

ol {
    counter-reset: lis 0;

    > li {
        counter-increment: lis;
        margin-bottom: 15px;

        &::before {
            content: counter(lis) '. ';
            font-weight: bold;
        }

        p:first-of-type {
            display: inline;
        }
    }
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}
