$color-primary: #e5c3a9;
$color-secondary: #794d45;
$color-dark: #333333;
$color-white: #ffffff;
$color-true-black: #000000;

$color__section-separator: $color-secondary;
$gray-light: #cacaca;
$gray-light-1: #cccccc;
$color-black: $color-true-black;

$color__background-body: $color-white;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
