.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;

    &.toggled ul {
        @include sm {
            visibility: visible;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;

        @include sm {
            visibility: hidden;
        }

        ul {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            float: left;
            position: absolute;
            top: 100%;
            left: -999em;
            z-index: 99999;

            ul {
                left: -999em;
                top: 0;
            }

            li {
                &.focus > ul,
                &:hover > ul {
                    left: 100%;
                }
            }

            a {
                width: 200px;
            }
        }

        li.focus > ul,
        li:hover > ul {
            left: auto;
        }
    }

    li {
        float: left;
        position: relative;

        @include sm {
            float: none;
            padding: 10px 16px;
        }
    }

    a {
        display: block;
        text-decoration: none;
    }
}

/* Small menu. */
.menu-toggle {
    @include sm {
        background-color: transparent;
        border: 0;
        width: 35px;
        height: 35px;
        padding: 0;
        margin: 0;
        cursor: pointer;
        overflow: hidden;

        &:focus {
            outline: none;
        }

        .toggled & {
            span {
                &:first-child {
                    transform: rotate(45deg);
                    top: 4px;
                }

                &:nth-child(2) {
                    right: -400px;
                }

                &:last-child {
                    transform: rotate(-45deg);
                    top: 0;
                }
            }
        }
    }

    span {
        position: relative;
        right: 0;
        display: block;
        height: 2px;
        width: 30px;
        border-radius: 5px;
        background-color: $color-true-black;
        margin: 0 auto;
        @include transition($duration: 0.5s);

        &:first-child {
            top: -5px;
        }

        &:last-child {
            bottom: -5px;
        }
    }
}
@media screen and (min-width: $sm-width) {
    .menu-toggle {
        display: none;
    }

    .main-navigation ul {
        display: block;
    }
}

.comment-navigation,
.post-navigation,
.posts-navigation {
    .site-main & {
        margin: 0 0 1.5em;
        overflow: hidden;
    }

    .nav-previous {
        float: left;
        width: 50%;
    }

    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}
